.mdc-list{
    background: #1A1824;
    color: white;
    padding-top: 30vh!important;
}


.mdc-drawer__content {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #1A1824;
    color: white;
}


.mdc-drawer .mdc-list-item{
    padding: 0 38px;
}

.mdc-list-item__text{
    opacity: 0.7;
    font-family: Poppins-Regular;
    font-size: 12px;
    color: white;
    letter-spacing: -0.24px;
    text-align: center;
    line-height: 20px;
}

.mdc-list-item__graphic{
    margin-right: 12px!important;
}

.mdc-drawer{
    border-right: 0px solid #1A1824;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0px 0px 0px 0px #1A1824!important;
    box-shadow: 0px 0px 0px 0px #1A1824!important;
}

/* Porject */

.tittle_PanelProject{
    font-size: 18px!important;
}
    
.subtit_PanelProject{
    font-size: 15px;
}
  

/* CardTask */

.smui-card--padded, .smui-card__content, .smui-card__primary-action--padded {
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

/* Card Project */

.cardproject{
    color:white!important;
    background-color: #1A1824;
    border: 0px;
    display: inline-flex!important;
    justify-content: space-around!important;
    align-content: space-around;
    position: relative;
    vertical-align: middle!important;
    width: 100%;
    font-size: 12px!important;
  }

.cardTask{
    padding-left: 0px!important;
    padding-right: 0px!important;

}

.botonPlay{
    padding: 0px;
    justify-content: right!important;
    position: relative;
    vertical-align: middle!important;
}

.botonPlayImg{
    padding-top: 30px;
    padding-left: 30px;
}

.cardDatos{
    text-align: center!important;
    padding-bottom: 0px!important;
}

.tareas{
    padding-left: 0px!important;
}

.proyectos{
    padding-left: 0px!important;
}

.etiquetas{
    color: yellow;
    padding: 0px!important;
    margin: 0px!important;
}

.txtProyectos{
    padding: 0px!important;
    margin: 0px!important;
}


.wrapper{
    display: block;
    margin: 0 auto;
}

.descripcion {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  font-size: 11px;
}

.descripcion span {
  display: inline-block;
  padding-left: 100%;
  animation: descripcion 8s linear infinite;
  padding-top: 17px;

}

@keyframes descripcion {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.tiempoCard{
    color:#8C8B91;
}

.mdc-button--raised{
    background-color: #34C47C!important;
}


.btnCreateTask{
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    width: 90%;
    z-index: 999;
    margin: 0 auto;
}

/* Principal */

.tittle_PanelProject{
    font-size: 20px!important;
  }

.subtit_PanelProject{
    font-size: 15px!important;
  }

.task_rate_text{
    font-size: 18px;
    padding-top: 10px;
}

  /* Crear proyecto */

.botones-crear{
    display: inline-flex;
    vertical-align: middle;
    padding-right: 0px!important;
    padding-left: 0px!important;
}


.create-project-container h2{
    font-size: 23px!important;
}

.create-project-button{
    background-color: #34C47C!important;
    color: white;
    text-align: center;
    border: 0px;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    width: 35vw;
}

.volver{
    background-color: #34C47C!important;
    color: white;
    text-align: center;
    border: 0px;
    margin-top: 20px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    width: 35vw;
}

/* Cronometro */

.chrono-text{
    font-size: 15px;
    margin-top: 0px!important;
}

.boton-chrono{
    background: transparent;
    border: 0px;
    color: grey;
    padding-top: 10px;
}

.task_rate_text{
    margin-bottom: 0px;
}